@media (max-width: 399px) {
	/* Navbar CSS Starts */
	.topNavbarBody{
		margin: .4rem .2rem .4rem .2rem; /* top right bottom left */
	}
	.topNavbarSearch{
		display: none;
	}
	.sideNavbarAnchor{
		display: block;
	}
	.categoryNavbar{
		display: none;
	}
	/* Navbar CSS Ends*/

	/* Catalog CSS Start */
	.catalogSectionBodyContainer{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.catalogSectionBody{
		max-height: 78rem;
	}
	.catalogImageContainer{
		flex-wrap: wrap;
	}
	.catalogImageBody{
		margin: 1rem;
	}
	/* Catalog CSS End */

	/* LogoSection CSS Starts */
	.logoSection {
		flex-direction: column;
	}
	.flowerbesideMadeOfIndia{
		display: none;
	}
	.logoSectionCardDetailsTitle{
		font-size: medium;
		margin-bottom: 1rem;
	}
	/* LogoSection CSS Ends */

	/* Footer CSS Starts */
	.footerNewsLetterContainer {
	    display: flex;
	    align-items: flex-start;
	    flex-direction: column;
		margin-top: 1rem;
	}
	.footerSectionTitle{
		display: block;
	}
	.footerNewsLetterInput {
    	max-width: 10.5rem;
    	font-size: small;
    	padding-left: .5rem;
	}
	.footerSectionBody {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	flex-direction: column;
	}
	.footerSectionTitle {
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	}
	.subscribeNewsletterTitle{
		display: none;
	}
	.footerHr{
		margin-bottom: 1rem;
	}
	.footerSectionBodyCard{
		align-items: normal;
	}
	.footerSectionBodyCardTitle{
		margin:auto;
	}
	.footerSectionBodyCardList{
		display: flex;
		justify-content: space-around;
   		flex-wrap: wrap;
	}
	.footerSectionBodyCardListItem{
		margin: 0 0 .4rem 1rem;
	}
	.footerSectionBodyCardTitle{
		margin:auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.footerSectionBottomText{
		text-align: center;
	}
	/* Footer CSS Ends */
}

@media (min-width: 399px) and (max-width: 576px) {
	/* Navbar CSS Starts */
	.topNavbarSearch{
		display: none;
	}
	.sideNavbarAnchor{
		display: block;
	}
	.categoryNavbar{
		display: none;
	}
	/* Navbar CSS Ends*/

	/* Catalog CSS Start */
	.catalogSectionBodyContainer{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.catalogSectionBody{
		max-height: 78rem;
	}
	.catalogImageContainer{
		flex-wrap: wrap;
	}
	.catalogImageBody{
		margin: 1rem;
	}
	/* Catalog CSS End */

	/* LogoSection CSS Starts */
	.flowerbesideMadeOfIndia{
		max-height: 6rem;
	}
	.logoSectionCardImage{
		height: 2.2rem;
	}
	.logoSectionCardDetailsTitle{
		display: none;
	}
	/* LogoSection CSS Ends */

	/* Footer CSS Starts */
	.footerNewsLetterContainer {
	    display: flex;
	    align-items: flex-start;
	    flex-direction: column;
		margin-top: 1rem;
	}
	.subscribeNewsletterTitle{
		font-size: medium;
	}
	.footerNewsLetterInput {
    	font-size: small;
    	padding-left: .5rem;
	}
	.footerSectionBody {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	flex-direction: column;
	}
	.footerSectionTitle {
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	}
	.subscribeNewsletterTitle{
		display: none;
	}
	.footerHr{
		margin-bottom: 1rem;
	}
	.footerSectionBodyCard{
		align-items: normal;
	}
	.footerSectionBodyCardList{
		display: flex;
		justify-content: space-around;
   		flex-wrap: wrap;
	}
	.footerSectionBodyCardListItem{
		margin: 0 0 .4rem 1rem;
	}
	.footerSectionBodyCardTitle{
		margin:auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	/* Footer CSS Ends */
}

/* Medium devices (landscape tablets) */
@media (min-width: 576px) and (max-width: 767px) {
	/* Navbar CSS Starts */
	.topNavbarSearch{
		display: none;
	}
	.sideNavbarAnchor{
		display: block;
	}
	.categoryNavbar{
		display: none;
	}
	/* Navbar CSS Ends */

	/* Catalog CSS Start */
	.catalogSectionBodyContainer{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.catalogSectionBody{
		max-height: 78rem;
	}
	.catalogImageContainer{
		flex-wrap: wrap;
	}
	.catalogImageBody{
		margin: 1rem;
	}
	/* Catalog CSS End */

	/* LogoSection CSS Starts */
	.flowerbesideMadeOfIndia{
		max-height: 8rem;
	}
	.logoSectionCardImage{
		height: 3.2rem;
	}
	.logoSectionCardDetailsTitle{
		display: none;
	}
	/* LogoSection CSS Ends */
	
	/* Footer CSS Starts  */
	.subscribeNewsletterTitle{
		font-size: medium;
	}
	.footerNewsLetterInput{
		max-width: 13rem;
	}
	.footerNewsLetterBtn{
		max-width: 4.5rem;
	}
	.footerSectionBodyCardTitle {
		font-size: medium;
	}
	.footerNewsLetterContainer{
		display: block;
		/*float: right;*/
	}
	/* Footer CSS Ends */
}

/* Large devices (laptops/desktops) */
@media (min-width: 767px) and (max-width: 1023px) {
	/* Catalog CSS Start */
	.catalogSectionBodyContainer{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.catalogSectionBody{
		max-height: 54rem;
	}
	.catalogImageContainer{
		flex-wrap: wrap;
	}
	/* Catalog CSS End */

	/* Footer CSS Starts */
	.subscribeNewsletterTitle{
		display: none;
	}
	.footerNewsLetterBtn{
    	max-width: 4.5rem;
	}
	/* Footer CSS Ends */
}
