/* Universal i.e for all CSS Start  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
    /* font-family: 'Acme', sans-serif; */
    /* font-family: "Muli", sans-serif; */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --blackCol: #000000;
    --whiteCol: #ffffff;
    --lightGreyCol: #f5f5f5;
    --goldenCol: #CDB480;
    --primaryAccentColor: #F2CD88;
    --secondaryAccentColor: #8C2703;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: var(--whiteCol);
}

/* Universal CSS Ends  */

/* Adbvertisement Navbar CSS Start */
.advertisementNavbar {
    height: 1.8rem;
    background-color: var(--secondaryAccentColor);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.advertisementNavbarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertisemenNavbartLogo{
    color: var(--whiteCol);
    font-size: .8rem;
}
.advertisemenNavbartSpanText{
    color: var(--whiteCol);
    font-size: .8rem;
    margin-left: .4rem;
}
/* Adbvertisement Navbar CSS Ends */

/* Navbar CSS Start */
.topNavbar {
    height: auto;
    /* background-color: var(--primaryAccentColor); */
    background-color: rgba(242, 205, 136, .6);
}
.topNavbar .navbar-brand {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondaryAccentColor);
}
.topNavbarBody{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: .4rem 2rem .4rem 2rem;  /* top right bottom left */
}
.topNavbarLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideNavbarAnchor{
    display: none;
}
.sideNavbarlogo{
    color: var(--secondaryAccentColor);
    font-size: 1.2rem;
    font-weight: 600;
}
.sideNavbarlogo:hover{
    cursor: pointer;
}
.sideNavbar{
    display: none;
    width: 15rem;
    height: 100%;
    background-color: var(--whiteCol);
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 999;
}
.sideNavbarActive{
    display: block;
}
.topNavbarSearch{
    display: flex;
    flex-direction: row;
    min-width: 25rem;
}
.topNavbarSearchDropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGreyCol) !important;
    border: .4px solid var(--goldenCol) !important;
}
.topNavbarSearchDropdownBtn{
    background-color: var(--lightGreyCol) !important;
    border: none;
    width: auto;
    font-size: .8rem;
}
.topNavbarSearchInput{
    background-color: var(--whiteCol) !important;
    border: .4px solid var(--goldenCol) !important;
    border-radius: 0px;
}
.topNavbarSearchInput:focus,
.topNavbarSearchInput:active {
  /* box-shadow: 0 0 0 0.25rem var(--primaryAccentColor); */
  box-shadow: none;
}
.topNavbarSearchInput::placeholder{
    color: var(--blackCol);
    font-size: .8rem;
}
.topNavbarSearchBtn{
    background-color: var(--secondaryAccentColor) !important;
    /* border: .4px solid var(--goldenCol) !important; */
    border-radius: 0px;
    width: auto;
}
.searchIcon{
    color: var(--whiteCol);
}
.topNavbarRightEnd{
    display: flex;
    align-items: center;
}
.navbarLoginBtn{
    background-color: var(--secondaryAccentColor) !important;
    border: 1px solid var(--blackCol);
    border-radius: 0px;
    width: auto;
    color: var(--whiteCol) !important;
    font-size: .8rem;
    margin-right: 1.4rem; /* to separate login and cart icon */
    padding: .4rem 1.2rem .4rem 1.2rem; /* top right bottom left */
}
.navbarWishlistIcon, .navbarCartIcon {
    color: var(--secondaryAccentColor);
}
/* Navbar CSS Ends */

/* Category Navbar CSS Start */
.categoryNavbar {
    height: auto;
    background-color: var(--whiteCol);
}
.categoryNavbarUl{
    flex-direction: row;
}
.categoryNavbarList{
    margin: .4rem 1.2rem .4rem 1.2rem; /* top right bottom left */
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--blackCol);
}
#CategoryNavbarContainer{
    position: relative;
}
.nav-megaDropdown{
    position: absolute;
    border: none;
    background: var(--whiteCol);
    left: 2px;
    right: 2px;
    z-index: 22;
    opacity: 0;
    visibility: hidden;
    min-height: 14rem;
    max-height: fit-content;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#categoryNavbarListMen:hover #nav-megaDropdownForMen { 
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}
#categoryNavbarListWomen:hover #nav-megaDropdownForWomen { 
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}
#categoryNavbarListKids:hover #nav-megaDropdownForKids { 
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}
.nav-megaDropdownContent{
    display: flex;
    width: 100%;
}
.megaDropdownContentBody{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.megaDropdownContentBodyTitle{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--blackCol);
}
.megaDropdownContentBodyBtns, .megaDropdownContentBodyFooterBtns{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.categoryDropdownBtn{
    max-width: 14rem;
    width: 10rem;
    font-size: .8rem;
    padding: .4rem 1.2rem .4rem 1.2rem; /* top right bottom left */
    border-radius: 0px;
    border: 2px solid var(--secondaryAccentColor) !important;
    margin-top: 1rem;
    margin-right: 1rem;
}
.megaDropdownContentBodyHR{
    width: 100%;
    margin: 1rem 0 0 0; /* top right bottom left */
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.megaDropdownContentFooter{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Category Navbar CSS Ends */

/* Banner CSS Start */
.bannerContainer{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4rem 0 4rem; /* top right bottom left */
    width: fit-content;
}
.bannerIndicators{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 1.8rem;
    margin-right: 9%; /* to align indicators to right */
}
.bannerIndicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: .8rem;
    height: .8rem;
    padding: 0;
    margin-right: .4rem;
    margin-left: .4rem;
    text-indent: -999px;
    cursor: pointer;
    background-color: var(--whiteCol);
    background-clip: padding-box;
    border: 0;
    border-radius: 50%;
    opacity: 1;
    transition: opacity .6s ease;
}
.carousel-inner img {
    width: 100%;
    min-height: 80vh;
    height: 100%;
}
/* Banner CSS Ends */

/* Catalog CSS Start */
.catalogSection{
    width: 100%;
    height: auto;
    margin-top: 3rem;
}
.sectionMainTitleContainer{
    display: flex;
    justify-content: center;
}
.goldenImgIcon{
    color: var(--goldenCol);
}
.sectionMainTitle{
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Dancing Script', sans-serif;
}
.goldenTitle{
    color: var(--goldenCol);
}
.catalogSectionBody{
    background-color: rgba(242, 205, 136, .6);
    margin-top: 6rem;
    min-height: fit-content;
    max-height: 24rem;
}
.catalogSectionBodyContainer{
    position: relative;
    top: -7rem;
}
.catalogImageContainer{
    display: flex;
    justify-content: center;
    align-items: start;
}
.catalogImageBody{
    margin: 2rem;
    position: relative;
}
.catalogImageBody span{
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: white;
    font-size: x-large;
    font-family: 'Dancing Script';
}

/* New Arrival CSS Start */
.newArrivalSection{
    background-color: rgba(242, 205, 136, .6);
    width: 100%;
    height: auto;
    padding: 0 0 2rem 0;  /* top right bottom left */
}
.productCardContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.productCard{
    width: 18rem;
    border: none;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 2rem;
}
.productCard:hover{
    /* box-shadow: 0 0 0 0.25rem var(--primaryAccentColor); */
    /* box-shadow: 0 0 0 0.25rem var(--lightGreyCol); */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.productCardImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.iconSpaninProductCard{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1.4rem;
    border-radius: 50%;
    background-color: var(--whiteCol);
}
.wishlistIconInProductCard{
    top: 1rem;
}
.eyeIconInProductCard{
    top: 3.6rem;
}
.iconSpaninProductCard i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.iconSpaninProductCard:hover, .iconSpaninProductCard i:hover{
    background-color: var(--secondaryAccentColor);
    color: var(--whiteCol);
}
.productCardImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}
.productCardDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGreyCol);
    padding: 0;
}
.productCardDetailsTitle{
    font-size: 1rem;
    font-weight: 600;
    opacity: .8;
    line-height: 1.4;
    color: var(--blackCol);
    margin-bottom: 0;
}
.productCardDetailsTitle:hover{
    color: var(--secondaryAccentColor);
}
.productCardDetailsPrice{
    font-size: 1rem;
    font-weight: 600;
    color: var(--blackCol);
    margin-bottom: 0;
}
.productCardDetailsBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.productCardDetailsBtn{
    width: 100%;
    font-size: .8rem;
    padding: .4rem 1.2rem .4rem 1.2rem; /* top right bottom left */
    border-radius: 0px;
    border: 2px solid var(--secondaryAccentColor) !important;
}
.markBorderInBtn{
    color: var(--secondaryAccentColor) !important;
}
.fillInnerColorBtn{
    background-color: var(--secondaryAccentColor) !important;
    color: var(--whiteCol) !important;
}
/* New Arrival CSS Ends */
/* Catalog CSS Ends */

/* Trending Products CSS Start */
.trendingProductSection{
    margin-top: 2rem
}
/* Trending Products CSS Ends */

/* Logo section CSS Start */
.logoSection{
    width: 100%;
    height: auto;
    /* margin-top: 3rem; Will give margin from logo itself */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flowerbesideMadeOfIndia{
    color: var(--goldenCol);
    font-size: 1.5rem;
    margin-right: .5rem;
}
.logoSectionCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoSectionCardImage{
    height: 4rem;
    object-fit: cover;
    margin-bottom: 1rem;
}
.logoSectionCardDetailsTitle{
    font-size: 1.2rem;
    color: var(--blackCol);
    margin-bottom: 0;
}
/* Logo section CSS Ends */

/* Footer CSS Start */
.footerSection{
    width: 100%;
    height: auto;
    background-color: var(--secondaryAccentColor);
    padding: 2rem 0 2rem 0;
}
.footerSectionTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerSectionTitleText{
    font-size: 1.5rem;
    color: var(--goldenCol);
    margin-bottom: 0;
}
.footerNewsLetterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerNewsLetterInputContainer{
	display: flex;
}
.subscribeNewsletterTitle{
    font-size: 1.2rem;
    color: var(--whiteCol);
    margin-right: 1rem;
}
.footerNewsLetterInput{
    width: 20rem;
    height: 2.5rem;
    border-radius: 0;
    border: none;
    background-color: white;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
}
.footerNewsLetterBtn{
    width: 5rem;
    height: 2.5rem;
    border-radius: 0;
    border: none;
    background-color: var(--goldenCol) !important;
    font-size: 1rem;
    font-weight: 500;
    color: var(--whiteCol) !important;
}
.footerHr{
    width: 100%;
    height: .1rem;
    background-color: var(--whiteCol);
    margin: 2rem 0 2rem 0;
}
.footerSectionBody{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.footerSectionBodyCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.footerSectionBodyCardTitle{
    font-size: 1.2rem;
    color: var(--whiteCol);
    margin-bottom: 1.6rem;
}
.footerSectionBodyCardList{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footerSectionBodyCardListItem{
    font-size: .8rem;
    color: var(--whiteCol);
    margin-bottom: 1rem;
}
.footerSectionBodyCardListItem a{
    color: var(--whiteCol);
}
.footerSectionBodyCardListItem a:hover{
    color: var(--goldenCol);
}
.footerSectionBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.footerSectionBottomText{
    font-size: .8rem;
    color: var(--whiteCol);
    margin-bottom: 0;
}
/* Footer CSS Ends  */

/* Breadcrumb CSS Start */
.breadcrumbSection{
    width: 100%;
    height: auto;
}
.breadcrumList{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.breadcrumlistItem{
    list-style: none;
    margin-right: .5rem;
}
.breadcrumlistItemLink{
    font-size: .9rem;
    color: var(--blackCol);
}
.breadcrumlistItemLink:hover{
    color: var(--secondaryAccentColor);
}
/* Breadcrumb CSS Ends */

/* Seach Secion CSS Start */
.searchSection{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
}
.filterBodyContainer{
    width: 20%;
    height: auto;
    padding: 0 1rem 0 0;  /* top right bottom left */
}
.filterAccordionItem{
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.filterAccordionBtn{
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
    border-color: var(--bs-accordion-border-color) !important;
}
.priceField{
    width: 100%;
    display: flex;
    margin: .3rem;
}
.priceField input[type="number"]{
    width: 100%;
    outline: 0;
    border: none;
    appearance: textfield;
    -moz-appearance: textfield;
}
.priceField input[type="number"]::-webkit-inner-spin-button,
.priceField input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.priceFieldInputMax{
    text-align: right;
}
.priceFieldInputMin{
    text-align: left;
}
.price-slider{
    height: 5px;
    border-radius: 5px;
    background-color: rgb(133 130 130 / 20%);
    position: relative;
}
.price-slider .progress{
    height: 5px;
    position: absolute;
    border-radius: 5px;
    left: 25%;
    right: 25%;
    background-color: #D9631E;
}
.priceRange-input{
    position: relative;
}
.priceRange-input input{
    position: absolute;
    height: 5px;
    top: -5px;
    width: 100%;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    background: none;
}
.priceRange-input input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #D9631E;
    pointer-events: auto;
}
.priceRange-input input[type="range"]::-moz-range-thumb{
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: var(--secondaryAccentColor);
}
.checkboxTypeFilterBody{
    display: flex;
    flex-direction: column;
}
.checkboxTypeFilterSearchBoxInput{
    width: 100%;
    height: 2.2rem;
    background-color: var(--whiteCol) !important;
    border: .4px solid var(--blackCol) !important;
    border-radius: 0px;
}
.checkboxTypeFilterSearchBoxInput:focus,
.checkboxTypeFilterSearchBoxInput:active {
  box-shadow: 0 0 0 0.25rem var(--primaryAccentColor);
  box-shadow: none;
}
.checkboxTypeFilterSearchBoxInput::placeholder{
    color: var(--blackCol);
    font-size: .8rem;
    padding-left: .5rem;
}
.checkboxTypeFilterBodyList{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: .6rem;
}
.checkboxTypeFilterBodyListCheckbox{
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
}
.checkboxTypeFilterBodyListLabel{
    font-size: 1rem;
    color: var(--blackCol);
    margin-left: .5rem;
}
.searchResultContainer{
    width: 80%;
    height: auto;
}
.searchResultContainerHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchResultContainerHeadBodyTitle{
    font-family: 'Dancing Script', cursive;
}
.searchResultContainerHeadBodyCount{
    font-size: .8rem;
    color: var(--blackCol);
}
.searchResultfilterBtn{
    font-size: 1rem;
    padding: .4rem 1.2rem .4rem 1.2rem; /* top right bottom left */
    border-radius: 0px;
    border: 1px solid var(--blackCol) !important;
}
.searchResultproducts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
/* Seach Section CSS Ends */

/* Product details CSS Start */
.productdetailSection{
    width: 100%;
    height: auto;
}
.productdetailSectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.productdetailImageContainer{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.productdetailmainimage{
    position: relative;
    display: inline-block;
}
.productdetailmainimageImage{
    width: 100%;
    height: auto;
}
.zoomed-image-container{
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    border: 1px solid #ccc;
    overflow: hidden;
    z-index: 999;
}
.productdetailmainimage:hover .zoomed-image-container{
    display: block;
}
.zoomed-image-container img{
    width: 100%;
    height: auto;
}
.additionalImageContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: .5rem;
}
.additionalImage{
    width: 100%;
    height: 8rem;
    margin-right: .5rem;
    object-fit: cover;
}
.productdetailContainer{
    width: 70%;
    height: auto;
    padding: 0 0 0 1rem;  /* top right bottom left */
}
.productdetailContainerHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.productdetailContainerHeadBody{
    width: 70%;
}
.productdetailContainerHeadFooter{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.productCardDetailsBtnIcon{
    font-size: 1rem;
    margin-left: .5rem;
}
.productdetailBtn{
    width: 100%;
    font-size: 1rem;
}
.addTopSpaceBtn{
    margin-top: 1rem;
}
.addBottomSpaceBtn{
    margin-bottom: 1rem;
}
.addRightSpaceBtn{
    margin-right: 1rem;
}
.addLeftSpaceBtn{
    margin-left: 1rem;
}
.productCardDetailsBtnDotted{
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    border-style: dashed;
}
.productdetailMainTitle{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--blackCol);
}
.productdetailProdCodeContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: .5rem;
}
.productdetailLeftSideTitle{
    font-size: 1rem;
    color: var(--blackCol);
}
.productdetailProdCodeNumber{
    font-size: .8rem;
    font-weight: 600;
    color: var(--blackCol);
    margin-left: .5rem;
}
.productdetailPriceNumber{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--secondaryAccentColor);
    margin: .8rem 0 .8rem 0; /* top right bottom left */
}
.productdetailRatingContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: .5rem;
}
.productdetailRatingNumber{
    font-size: 1rem;
    font-weight: 600;
    color: var(--blackCol);
    margin-left: .5rem;
}
.productdetailRatingIconContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: .5rem;
}
.productdetailRatingIcon{
    width: 1rem;
    height: 1rem;
    margin-left: .2rem;
    color: var(--primaryAccentColor);
}
.productdetailOptionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: .5rem;
}
.productdetailOptionsHr{
    width: 100%;
    height: .1rem;
    background-color: var(--blackCol);
    margin: 0;
}
.productdetailOptionsItemContainer{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: .5rem;
}
.productdetailOptionsItem{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1rem 6rem 1rem 0; /* top right bottom left */
}
.productdetailOptionItemContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: .5rem;
}
.productdetailOptionItemBox{
    width: 2.2rem;
    height: 2.2rem;
    border: 2px solid rgba(0, 0, 0, 0.2);;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}
.productdetailOptionItemBox:hover{
    cursor: pointer;
}
.productdetailOptionItemBox:focus{
    outline: none;
}
.productdetailOptionItemBoxHover:hover{
    border: 1px solid var(--primaryAccentColor);
    background-color: var(--secondaryAccentColor);
}
.productdetailOptionItemBoxHover:hover .productdetailOptionItemBoxText{
    color: var(--whiteCol);
}
.productdetailOptionItemBoxText{
    font-size: .8rem;
    font-weight: 600;
    color: var(--blackCol);
}
.productdetailAdvertisementIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}
.productdetailAdvertisementIconCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.productdetailAdvertisementIcon{
    width: auto;
    height: 2.4rem;
}
.productdetailAdvertisementIconText{
    font-size: 1rem;
    color: var(--blackCol);
    margin-left: .5rem;
    margin-bottom: 0;
}
.productdetailDescriptionContainer{
    width: 100%;
    height: auto;
    margin-top: 1rem;
}
.productdetailDescriptionBox{
    width: 100%;
    height: auto;
    margin-top: .5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    border-style: dashed;
    padding: 1rem; /* top right bottom left */
}
.productdetailDescriptionBoxItem{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: .5rem;
}
.productdetailDescriptionBoxItemKey{
    font-size: 1rem;
    color: var(--blackCol);
}
.productdetailDescriptionBoxItemValue{
    font-size: 1rem;
    color: var(--blackCol);
    margin-left: .5rem;
}
/* Product details CSS Ends */
